$body_font: 'Raleway', sans-serif;
$background_menu: #332323;
$background_dos: #EfE2C9;
$background_tres: #F4F4F4;
$background_cuatro: #634E4E;
$text_justify: justify;
$color_text_laboratoria: #EA8f0E;
$color_text_p: #989998;
$text_center: center;
$padding: 6%;
$padding_media: 11%;
$background_footer: #4F3F32;
$width_desktop: 100%;